{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
    <script src="{% static 'vue.global.js' %}"></script>

    <script src="{% static 'bootstrap.min.js' %}"></script>

    <title>Admin Tasks</title>
</head>
<body>

    <div class="continer">

        <div class="row">
            <div class="col-10 mx-auto">
                <div class="mb-3">
                {% include "navbar.html" %}    
                </div>
            </div>
        </div>
        
       
        <div class="row">
            <div class="col-10 mx-auto mt-2">
                <h2 class="mb-3">Admin Tasks:</h2>
            </div>
            <div class="col-10 mx-auto mt-5">
                <h3 class="mb-3">Ping Hosts:</h3>
                
                <form action="{% url 'ping_task_create' %}" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Start" class="btn btn-primary">        
                </form>

            </div>
        </div>          
    </div>

</body>
</html>