{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
    <script src="{% static 'vue.global.js' %}"></script>

    <script src="{% static 'bootstrap.min.js' %}"></script>


    <title>Ping Website</title>
</head>
<body>

    <div class="continer">


        <div class="row">
            <div class="col-10 mx-auto">
                <div class="mb-3">
                {% include "navbar.html" %}    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-10 mx-auto mt-2">
                <h3 class="mb-3">Tasks list:</h3>
                <table class="table col-8">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task ID</th>
                        <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        
                          <tr>
                            <th scope="row"><a href="{% url 'ping_task_run' task.id %}">{{ task.pk }}</a></th>
                              <td>{{ task.celery_task_id }}</td>
                              <td>{{ task.get_state_display }}</td>
                          </tr>
                        {% endfor %}
                      
                    </tbody>
                  </table>
            </div>
        </div>
    </div>


</body>
</html>